#ways,
#take,
#smart,
#package,
#theft,
#elec,
#stroll,
#drive,
#bus,
#rob,
#street,
#home,
#chem {
  padding-top: 15px;
}

.mainh {
  text-align: center;
  padding: 30px;
}

h2 {
  padding-bottom: 15px;
}
