.linky:hover {
  text-decoration: none;
}

#nav {
  background-color: rgba(7, 7, 7, 0.5);
}

.ham {
  background-color: gray;
}

.linky {
  color: #fff !important;
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 995px) {
  .linky {
    text-align: center;
    color: white !important;
    background-color: gray;
    border: 1px solid black;
  }
}

.frcrce {
  border-radius: 50%;
  height: 60px;
}
